@mixin button-style($bg-color){
    padding: 15px 20px;
    background-color: $bg-color;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
}