@import "button"; 

* {
    margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html, 
body {
     height: 100%;
     width: 100%;
}

@mixin flexCentre(){
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    @include flexCentre();

    section{
        height: 50%;
        width: 50%;
        background-color: white;
        @include flexCentre();

        h1{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        #blue{
            @include button-style(blue)
        }

        #red{
            @include button-style(red)
        }

    }
}


