*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
}

#nav{
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
}
#nav a{
    color: #111;
    font-size: 25px;
    margin-right: 30px;
    text-decoration: none;
}

#main>h1{
    font-size: 300px;
    padding-left: 30px;
    font-weight: 400;
}

#btmleft{
    position: absolute;
    bottom: 20%;
    left: 3%;
    width: 200px;
    
}

#btmleft h3{
    font-size: 20px;
    margin-bottom: 5px;
}
#btmleft h4{
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 5px;
}

#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 30px 40px;
}

#bottombar a{
    color: #111;
    text-decoration: none;
    font-size: 30px;
}

#main>img{
    position: absolute;
    /* height: 300px; */
}

#first{
    height: 300px;
    top: 45%;
    left: 40%;
}
#second{
    height: 300px;
    top: 55%;
    left: 50%;
}
#third{
    height: 300px;
    top: 40%;
    left: 65%;
}