

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    height: 100vh;
    
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 100px;
}

h1{
    color: rgb(255, 255, 255);
    font-weight: 2;
    font-size: 80px;
    font-weight: 5px;
    margin-bottom: 30px;
    text-transform: capitalize;
    text-shadow: 3px 3px #000000;
}

button{
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #04121F;
    border: 1px solid black;
}

button:hover{
    background-color: #0b3a63;
    transform: scale(1.05);
}